<div class="wrapper">
  <div class="side-bar">
    <%= render "shared/side_bar" %>
  </div>
  <div class="top-table">
    <%= render "shared/header" %>
      <%= user.nickname %></td>
      <%= user.user_name %></td>
  </div>
</div>