.wrapper {
  display: flex;
}
.top {
  background-color:  blanchedalmond;
  width: 100vw;
  height: 100vh;
}
.monthly-expense {
  text-align: center;
  margin-top: 40px;
  font-size: 40px;
}
.category-expense {
  text-align: center;
  margin-top: 40px;
}
