.wrapper {
  display: flex;
}
.side-bar {
  background-color: #222222;
  width: 200px;
  height: 100vh;
}
.top {
  background-color:  #ffffff;
  width: calc(100vw - 300px);
  height: 100vh;
}
.monthly-expense {
  text-align: center;
  margin-top: 40px;
  font-size: 40px;
}
.category-expense {
  text-align: center;
  margin-top: 40px;
}