<div class="expense-header">
</div>

<div class="month-main">
  <div class="monthly-expense">
    今月の出費20000円
  </div>
  <div class="category-expense">
    <% @expenses.each do |expense| %>
      <div class="expense">
        <div class="expense-category">
          <%= expense.category.name %>
        </div>
        <div class="expense-amount">
          <%= expense.amount %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="create-record">
  <%= link_to "記録する", new_expense_path, class:"post" %>
</div>
