<div class="expense-header">
</div>

<div class="month-main">
  <div class="monthly-expense">
    今月の出費20000円
  </div>
  <div class="category-expense">
    <ul>
      <li>交際費 3000円</li>
      <li>交通費 2000円</li>
    </ul>
</div>

<div class="create-record">
  <a href="#">記録する</a>
</div>
